<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <base href="/">
    <title>pilar 1.0</title>
    <meta charset="utf-8"/>
    <meta name="description" content="Sistema de administracion de clientes CRM"/>
    <meta name="keywords" content="crm, pilar, tactinet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:locale" content="es_GT"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="pilar"/>
    <meta property="og:url" content="http://tactinet.sonivitac.com"/>
    <meta property="og:site_name" content="crm"/>
    <link rel="canonical" href="http://tactinet.sonivitac.com"/>
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico"/>
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css"/>
    <link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css"/>

    <!--end::Page Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css"/>
    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body"
      class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed toolbar-tablet-and-mobile-fixed aside-enabled aside-fixed"
      style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
        <%- include('../../dashboard/left-aside.ejs') %>
        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <!--begin::Header-->
            <div id="kt_header" style="" class="header align-items-stretch">
                <!--begin::Container-->
                <div class="container-fluid d-flex align-items-stretch justify-content-between">
                    <!--begin::Aside mobile toggle-->
                    <div class="d-flex align-items-center d-lg-none ms-n3 me-1" title="Show aside menu">
                        <div class="btn btn-icon btn-active-color-white" id="kt_aside_mobile_toggle">
                            <i class="bi bi-list fs-1"></i>
                        </div>
                    </div>
                    <!--end::Aside mobile toggle-->
                    <!--begin::Mobile logo-->
                    <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
                        <a href="../../demo13/dist/index.html" class="d-lg-none">
                            <img alt="Logo" src="assets/media/logos/logo-demo13-compact.svg" class="h-25px"/>
                        </a>
                    </div>
                    <!--end::Mobile logo-->
                    <%- include('../../dashboard/top-navbar.ejs', UserInfo) %>
                </div>
                <!--end::Container-->
            </div>
            <!--end::Header-->
            <!--begin::Content TODO: cambiar el contenido de acuerdo al servicio
            -->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Entry-->
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class="container">
                        <!--begin::Dashboard-->
                        <!--begin::Row-->
                        <div class="row">
                            <div class="col-xl-12">
                                <!--begin::Card-->
                                <div class="card card-custom gutter-b">
                                    <div class="card-header flex-wrap py-5">
                                        <div class="card-title">
                                            <h3 class="card-label">Gestiones pendientes</h3>
                                        </div>
                                        <div class="card-toolbar">
                                            <!--                                            <a href="#" class="btn btn-primary font-weight-bolder">-->
                                            <!--                                                <i class="la la-plus"></i>-->
                                            <!--                                                Nuevo-->
                                            <!--                                            </a>-->
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <!--begin: Datatable-->
                                        <table class="table table-row-bordered "
                                               id="kt_datatable">
                                            <thead>
                                            <tr class="fw-bold fs-6 text-gray-800">
                                                <th>#</th>
                                                <th>Cliente</th>
                                                <th>Creación</th>
                                                <th>Sector</th>
                                                <th>Telefono</th>
                                                <th>Movil</th>
                                                <th>Clasificación</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <!--end: Datatable-->
                                    </div>
                                </div>
                                <!--end::Card-->
                            </div>
                        </div>
                        <!--end::Row-->
                        <!--end::Dashboard-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Entry-->


            </div>
            <!--end::Content-->
            <%- include('../../dashboard/bottom-footer.ejs') %>
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::Root-->
<!--begin::Scrolltop-->
<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
    <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
    <span class="svg-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)"
                  fill="black"/>
            <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z"
                  fill="black"/>
        </svg>
    </span>
    <!--end::Svg Icon-->
</div>
<!--end::Scrolltop-->
<!--end::Main-->
<script>var hostUrl = "assets/";</script>

<!--begin::Javascript-->
<!--begin::Global Javascript Bundle(used by all pages)-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/es-mx.min.js"
        integrity="sha512-Qy4cmZ6v7vnVEc0cn/BIj9q15eB98do4hMvu8xtc/H+v+YYpdpDrB35flHS3NPLbZUpe1npSYY/u+Gi3UB61vw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="assets/plugins/global/plugins.bundle.js"></script>
<script src="assets/js/scripts.bundle.js"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Page Vendors Javascript(used by this page)-->
<script src="assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
<script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
<!--end::Page Vendors Javascript-->
<!--begin::Page Custom Javascript(used by this page)-->
<script src="assets/js/custom/widgets.js"></script>
<script src="assets/js/custom/apps/chat/chat.js"></script>
<script src="assets/js/custom/modals/create-app.js"></script>
<script src="assets/js/custom/modals/upgrade-plan.js"></script>
<!--end::Page Custom Javascript-->
<!--end::Javascript-->
<script>
    const url = `${window.location.origin}/api`;
    moment.locale('es');

    const dtTaskPending = $("#kt_datatable").DataTable({
        ajax: `${url}/tasks/pending/`,
        columns: [
            {data: 'CODACTIVIDAD'},
            {data: 'STRNOMBRESER'},
            {data: '_FCHCREACION'},
            {data: 'CODSECTOR'},
            {data: 'TELEFONO'},
            {data: 'MOVIL'},
            {data: 'CODCLASIFICACION'},
        ],
        columnDefs: [
            {
                targets: [0],
                render: function (data, type, row) {
                    return `<a href="services/tasks/pending/${data}">${data}</a>`;
                }
            }, {
                targets: [2],
                render: function (data, type, row) {
                    return moment(data).startOf('hour').fromNow()
                }
            }, {
                targets: [4],
                render: function (data, type, row) {
                    const {MOVIL} = row;
                    let other = MOVIL ? `-<a href="tel:${MOVIL}">${MOVIL}</a>` : '';

                    return `<a href="tel:${data}">${data}</a>${other}`;
                }
            },
            {
                targets: [5],
                visible: false
            }, {
                targets: [6],
                render: function (data, type, row) {
                    return `<span class="badge badge-light-primary">${row.STRCLASIFICACION}</span>`;
                }
            }

        ],
        order: [[0, 'asc']]
    });


</script>
</body>
<!--end::Body-->
</html>