<div class="row">
    <div class="mt-9">
        <div class="stepper stepper-pills" id="onu_stepper_activate">
            <div class="stepper-nav flex-center flex-wrap mb-10">
                <div class="stepper-item mx-8-my-4 current" data-kt-stepper-element="nav">
                    <div class="stepper-wrapper d-flex align-items-center">
                        <div class="stepper-icon w-40px h-40px">
                            <i class="stepper-check fas fa-check"></i>
                            <span class="stepper-number">1</span>
                        </div>
                    </div>
                    <div class="stepper-label">
                        <h3 class="stepper-title">Foto</h3>
                        <div class="stepper-desc">Toma fotografia de la serie del equipo</div>
                    </div>
                    <div class="stepper-line h-40px"></div>
                </div>
                <div class="stepper-item mx-8 my-4" data-kt-stepper-element="nav">
                    <div class="stepper-wrapper d-flex align-items-center">
                        <div class="stepper-icon w-40px h-40px">
                            <i class="stepper-check fas fa-check"></i>
                            <span class="stepper-number">2</span>
                        </div>
                        <div class="stepper-label">
                            <h3 class="stepper-title">Serie</h3>
                            <div class="stepper-desc">Escriba el numero de serie de la ONU</div>
                        </div>
                    </div>
                    <div class="stepper-line h-40px"></div>
                </div>
                <div class="stepper-item mx-8 my-4" data-kt-stepper-element="nav">
                    <div class="stepper-wrapper d-flex align-items-center">
                        <div class="stepper-icon w-40px h-40px">
                            <i class="stepper-check fas fa-check"></i>
                            <span class="stepper-number">3</span>
                        </div>
                        <div class="stepper-label">
                            <h3 class="stepper-title">Confirmar</h3>
                            <div class="stepper-desc">Verifique todos los datos antes de activar</div>
                        </div>
                    </div>
                    <div class="stepper-line h-40px"></div>
                </div>
            </div>
            <!--begin::Form-->
            <form class="form mx-auto" novalidate="novalidate"
                  id="kt_stepper_example_basic_form">
                <div class="mb-5">
                    <div class="flex-column current" data-kt-stepper-element="content">
                        <!--begin::Input group-->
                        <div class="form-group row">
                            <!--begin::Label-->
                            <label class="col-lg-2 col-form-label text-lg-right">Cargar Foto:</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-10">
                                <!--begin::Dropzone-->
                                <div class="dropzone dropzone-queue mb-2" id="kt_dropzonejs_example_3">
                                    <!--begin::Controls-->
                                    <div class="dropzone-panel mb-lg-0 mb-2">
                                        <a class="dropzone-select btn btn-sm btn-primary me-2">Adjuntar foto</a>
                                        <a class="dropzone-remove-all btn btn-sm btn-light-primary">Borrar
                                            todo</a>
                                    </div>
                                    <!--end::Controls-->

                                    <!--begin::Items-->
                                    <div class="dropzone-items wm-200px">
                                        <div class="dropzone-item" style="display:none">
                                            <!--begin::File-->
                                            <div class="dropzone-file">
                                                <div class="dropzone-filename" title="some_image_file_name.jpg">
                                                    <span data-dz-name>some_image_file_name.jpg</span>
                                                    <strong>(<span data-dz-size>340kb</span>)</strong>
                                                </div>

                                                <div class="dropzone-error" data-dz-errormessage></div>
                                            </div>
                                            <!--end::File-->

                                            <!--begin::Progress-->
                                            <div class="dropzone-progress">
                                                <div class="progress">
                                                    <div class="progress-bar bg-primary"
                                                         role="progressbar" aria-valuemin="0"
                                                         aria-valuemax="100" aria-valuenow="0"
                                                         data-dz-uploadprogress>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end::Progress-->

                                            <!--begin::Toolbar-->
                                            <div class="dropzone-toolbar">
                                                        <span class="dropzone-delete" data-dz-remove><i
                                                                    class="bi bi-x fs-1"></i></span>
                                            </div>
                                            <!--end::Toolbar-->
                                        </div>
                                    </div>
                                    <!--end::Items-->
                                </div>
                                <!--end::Dropzone-->
                                <span class="form-text text-muted">El tamaño maximo de la foto es de 2mb.</span>
                            </div>
                        </div>
                    </div>
                    <!--end::Step 1-->

                    <!--begin::Step 2-->
                    <div class="flex-column" data-kt-stepper-element="content">
                        <div class="fv-row mb-10">
                            <button class="btn form-control btn-dark w-100" id="btn_search">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="16" height="16"
                                     fill="currentColor" class="bi bi-search"
                                     viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                                <span class="indicator-label">Buscar</span>
                                <span class="indicator-progress">Obteniendo información...<span
                                            class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                        </div>
                        <div id="onus_available">


                        </div>
                    </div>
                    <!--begin::Step 2-->
<!--
board: 9
external_id: null
id: 0
is_disabled: 0
new_location: null
old_location: null
onu: "0"
onu_type_id: "62"
onu_type_name: "HG8546M"
pon_type: "gpon"
port: 5
sn: "HWTCAA1C839A"
-->
                    <!--begin::Step 3-->
                    <div class="flex-column" data-kt-stepper-element="content">
                        <div id="onu_verify">
                            <div class="fv-row mb-10">
                                <label class="form-label" for="olt_id">Olt id</label>
                                <input type="text" class="form-control form-control-solid"
                                       id="olt_id"
                                       name="olt_id" readonly/>
                            </div>
                            <div class="fv-row mb-10">
                                <label class="form-label" for="pon_type">Pon type</label>
                                <input type="text" class="form-control form-control-solid"
                                       id="pon_type"
                                       name="pon_type" readonly/>
                            </div>
                            <div class="fv-row mb-10">
                                <label class="form-label" for="board">Slot</label>
                                <input type="text" class="form-control form-control-solid"
                                       id="board"
                                       name="board" readonly/>
                            </div>
                            <div class="fv-row mb-10">
                                <label class="form-label" for="port">Port</label>
                                <input type="text" class="form-control form-control-solid"
                                       id="port"
                                       name="port" readonly/>
                            </div>
                            <div class="fv-row mb-10">
                                <label class="form-label" for="sn">sn</label>
                                <input type="text" class="form-control form-control-solid"
                                       id="sn"
                                       name="sn" readonly/>
                            </div>
                            <div class="fv-row mb-10">
                                <label class="form-label" for="vlan">vlan</label>
                                <input type="text" class="form-control form-control-solid"
                                       id="vlan"
                                       name="vlan" readonly/>
                            </div>
                            <div class="fv-row mb-10">
                                <label class="form-label" for="onu_type">onu type</label>
                                <input type="text" class="form-control form-control-solid"
                                       id="onu_type"
                                       name="onu_type" readonly/>
                            </div>
                            <div class="mb-10">
                                <label class="form-label" for="onu_mode">onu_mode</label>
                                <select id="onu_mode" name="onu_mode" class="form-control form-select" required>
                                    <option value="Routing" selected>Routing</option>
                                    <option value="Bridging">Bridging</option>
                                </select>
                            </div>
                            <div class="fv-row mb-10">
                                <label class="form-label" for="zone">zone</label>
                                <input type="text" class="form-control form-control-solid"
                                       id="zone"
                                       name="zone" readonly/>
                            </div>
                            <div class="fv-row mb-10">
                                <label class="form-label" for="odb">odb</label>
                                <input type="text" class="form-control form-control-solid"
                                       id="odb"
                                       name="odb" readonly/>
                            </div>
                            <div class="fv-row mb-10">
                                <label class="form-label" for="name">name</label>
                                <input type="text" class="form-control form-control-solid"
                                       id="name"
                                       name="name" readonly/>
                            </div>
                            <div class="fv-row mb-10">
                                <label class="form-label" for="address_or_comment">address or comment</label>
                                <input type="text" class="form-control form-control-solid"
                                       id="address_or_comment"
                                       name="address_or_comment" readonly/>
                            </div>
                            <div class="fv-row mb-10">
                                <label class="form-label" for="onu_external_id">onu external id</label>
                                <input type="text" class="form-control form-control-solid"
                                       id="onu_external_id"
                                       name="onu_external_id" readonly/>
                            </div>
                            <div class="mb-10">
                                <label class="form-label" for="upload_speed_profile_name">upload_speed_profile_name</label>
                                <input type="text" class="form-control form-control-solid"
                                        id="upload_speed_profile_name"
                                        name="upload_speed_profile_name" readonly>
                            </div>
                            <div class="mb-10">
                                <label class="form-label" for="download_speed_profile_name">download_speed_profile_name</label>
                                <input type="text" class="form-control form-control-solid"
                                       id="download_speed_profile_name"
                                       name="download_speed_profile_name" readonly>
                            </div>
                        </div>

                    </div>
                    <!--begin::Step 3-->

                </div>
                <!--end::Group-->

                <!--begin::Actions-->
                <div class="d-flex flex-stack">
                    <div class="me-2">
                        <button type="button"
                                class="btn btn-light btn-active-light-primary"
                                data-kt-stepper-action="previous">Regresar
                        </button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" data-kt-stepper-action="submit" id="btn-authorize-onu">
                            <span class="indicator-label">Activar</span>
                            <span class="indicator-progress">Procesando... <span
                                        class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
                        <button type="button" class="btn btn-primary" data-kt-stepper-action="next">
                            Siguiente
                        </button>
                    </div>
                </div>
                <!--end::Actions-->
            </form>
            <!--end::Form-->
        </div>


    </div>
</div>