<%
let active = "";

if (me === href)
    active = "active"
%>
<div class="menu-item">
    <a class="menu-link <%- active %>" href="<%- href %>">
        <% if (icon === "bullet") { %>
            <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
        <% } else { %>
            <span class="menu-icon"><i class="bi <%- icon %> fs-3"></i></span>
        <% } %>
        <span class="menu-title"><%- title %></span>
    </a>
</div>