<base href="/">
<title>pilar 1.0</title>
<meta charset="utf-8"/>
<meta name="referrer" content="origin-when-cross-origin" />
<meta property="og:site_name" content="tactinet"/>
<meta property="og:title" content="Servicio de TV Cable e Internet Residencial"/>
<meta name="description" content="Aplicacion para la administracion de clientes  "/>
<meta name="keywords" content="Tactinet"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta property="og:locale" content="es_GT"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://tactinet.sonivitac.com"/>
<link rel="canonical" href="https://tactinet.sonivitac.com"/>
<link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/gguerreroi/tactinet@main/public/assets/media/logos/favicon.ico"/>
<!--begin::Fonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
<!--end::Fonts-->

<!--begin::Page Vendor Stylesheets(used by this page)-->
<link href="https://cdn.jsdelivr.net/gh/gguerreroi/tactinet@main/public/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<link href="https://cdn.jsdelivr.net/gh/gguerreroi/tactinet@main/public/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<!--end::Page Vendor Stylesheets-->

<!--begin::Global Stylesheets Bundle(used by all pages)-->
<link href="https://cdn.jsdelivr.net/gh/gguerreroi/tactinet@main/public/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" crossorigin="anonymous"/>
<link href="https://cdn.jsdelivr.net/gh/gguerreroi/tactinet@main/public/assets/css/style.bundle.css" rel="stylesheet" type="text/css" crossorigin="anonymous"/>
<!--end::Global Stylesheets Bundle-->