<base href="<%- baseref %>">
<title><%- title %>></title>
<meta charset="utf-8"/>
<meta property="og:site_name" content="Clasificacion | Usuario"/>
<meta property="og:title" content="Descripcion de Orden"/>
<meta name="description" content="Referencia "/>
<meta name="keywords" content="Tactinet"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="https://tactinet.sonivitac.com"/>
<link rel="canonical" href="https://tactinet.sonivitac.com"/>
<link rel="shortcut icon" href="assets/media/logos/favicon.ico"/>
<!--begin::Fonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
<!--end::Fonts-->
<!--begin::Global Stylesheets Bundle(used by all pages)-->
<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css"/>
<!--end::Global Stylesheets Bundle-->